#__vconsole {
  display: none !important;
}

div.blocklyTreeNode:has(#advanced) {
  display: none !important;
}

div.blocklyWidgetDiv>div.dropdown-triangle.lower {
  display: none !important;
}

div.blocklyWidgetDiv>div.dropdown-triangle.upper {
  display: none !important;
}

div.blocklyDropdownMenu {
  background: rgba(255, 255, 255, 0.2) !important;
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  padding: 10px;
  backdrop-filter: blur(20px);
}

div.blocklyDropdownMenu div.menu-item.menu_item_selected {
  background: rgba(255, 255, 255, 0.2) !important;
  border: 1.5px solid rgba(255, 255, 255, 0.2);
}

div.blocklyDropdownMenu div.menu-item {
  color: white !important;
  background: rgba(255, 255, 255, 0) !important;
  border: 1.5px solid rgba(255, 255, 255, 0);
  transition: all 0.2s ease;
  border-radius: 5px;
}

.blocklyToolboxDiv .blocklyTreeRoot .blocklyTreeNode .blocklyTreeRow {
  background: rgba(255, 255, 255, 0.2);
  border: 1.5px solid rgba(255, 255, 255, 0.2) !important;
  border-radius: 30% !important;
  margin-top: 5px;
}

div.blocklyToolboxDiv {
  background-color: #221c50 !important;
}

svg.blocklyFlyout {
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.2) !important;
}

svg.blocklySvgCopy {
  display: none;
}

svg.blocklyFlyout>path.blocklyFlyoutBackground {
  fill: rgb(255, 255, 255, 0) !important;
}

div.flyout_add_btn,
div.flyout_config_btn {
  backdrop-filter: blur(10px);
  background: rgba(63, 39, 101, 0.2) !important;
  border: 1.5px solid rgba(255, 255, 255, 0.2) !important;
  border-radius: 15px !important;
}

.flyout-toolbox-error {
  fill: none;
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 14px;
  text-shadow: 0 0 5px rgba(255, 255, 0, 0.5);
}
.flyout-toolbox-error > text.blocklyText {
  fill: yellow;
}
/* 悬浮球 */
.float-ball {
  position: fixed;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  /* box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);*/
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  touch-action: manipulation;
  /* 关键属性 */
  right: 100px;
  bottom: 100px;
}

.float-ball.hide {
  display: none !important;
}

/* 冒号 */
.float-ball:active {
  transform: scale(0.92);
  transition: transform 0.1s ease;
}

/* 点号 */
.float-ball.active {
  border: 1.5px solid rgba(255, 255, 255, 1);

}

/* 悬浮球图标 */
.float-ball i {
  color: white;
  font-size: 22px;
  transition: transform 0.3s ease;
  pointer-events: none;
  /* 防止图标干扰点击 */
}

.float-ball.active i {
  transform: rotate(45deg);
}

/* 悬浮窗口 */
.float-window {
  position: fixed;
  width: 250px;
  max-width: 90vw;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 20px;
  box-shadow: inset 0 0 0 1.5px rgba(255, 255, 255, 0.2);
  z-index: 100000;
  opacity: 0;
  transform: scale(0.9);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
  overflow: hidden;
  right: 120px;
  bottom: 120px;
}

.float-window.active {
  opacity: 1;
  transform: scale(1);
  pointer-events: all;
}

/* 悬浮窗 标题栏 */
.window-header {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 0;
}

/* 悬浮窗 标题文本 */
.window-header h3 {
  font-size: 16px;
  font-weight: 600;
}

/* 关闭按钮 */
.close-btn {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
  width: 24px;
  height: 24px;
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.2s;
}

.close-btn:active {
  border: 1.5px solid rgba(255, 255, 255, 1);
}

/* 悬浮窗 内容 */
.window-content {
  padding: 15px;
  max-height: 70vh;
  overflow-y: auto;
  background: transparent;
}

.bn-menu-item.menu-title {
  background: none;
  padding: 4px;
  background: rgba(255, 255, 255, 0.2);
  color: white
}

.bn-menu-item.menu-title>span {
  font-size: 14px;
}

/* 菜单按钮 */
.bn-menu-item {
  padding: 5px 15px;
  margin-bottom: 12px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.bn-menu-item:active {
  border: 1.5px solid rgba(255, 255, 255, 1);
  transform: translateY(2px);
}

.bn-menu-item i {
  color: white;
  font-size: 16px;
  width: 24px;
  text-align: center;
}

.bn-menu-item span {
  color: white;
  font-size: 16px;
  font-weight: 500;
}

/* 输入 */
li.bn-menu-input {
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

li.bn-menu-input>button {
  background-color: rgba(255, 255, 255, 0.2);
  border-left-width: 0;
  border-radius: 0 20px 20px 0px;
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  height: 35px;
  padding: 8px 12px;
  display: flex;
  transition: 0.25s ease;
}

li.bn-menu-input>button:focus-within {

  border-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2);
}

li.bn-menu-input>input {
  color: white;
  background: rgba(255, 255, 255, 0.2);
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  padding: 8px 12px;
  border-radius: 4px;
  transition: 0.25s ease;
  transition-property: background;
  display: flex;
}

li.bn-menu-input>input[type="text"],
li.bn-menu-input>input[type="number"] {
  border-radius: 20px 0 0 20px;
  font-size: 14px;
  width: 100px;
  height: 35px;
  box-sizing: border-box;
}

li.bn-menu-input>input[type="text"]:focus,
li.bn-menu-input>input[type="number"]:focus {
  outline: none;
  border-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2);
}

li.bn-menu-input>select {
  font-size: 14px;
  height: 35px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 20px 0 0 20px;
  box-sizing: border-box;
  padding: 8px 12px;
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  transition: 0.25s ease;
  transition-property: backgroud;
  display: flex;
}

li.bn-menu-input>select:focus {
  outline: none;
  border-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2);
}

/* 状态信息 */
.status-info {
  margin-bottom: 15px;
  /*padding-bottom: 10px;
border-bottom: 1px solid #eee;*/
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-size: 14px;
}

/*body {
  background-image: url('https://i.imgs.ovh/2026/01/27/ysKHOq.png');
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}*/